---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import './blog.css';

const posts = await getCollection("posts");
---

<Layout title="Template - All Posts">
  <main class="flex flex-col">
    <h1 class="text-2xl text-neutral-100">Posts</h1>

    <article class="flex flex-col">
      {
        posts.map((post) => {
          const formatDate = post.data.publishedAt.toLocaleDateString('en-US',{
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })
          return (
          <a
            class="group flex flex-col border-t border-neutral-700 py-4 transition-all hover:text-neutral-100"
            href={`/posts/${post.slug}`}
          >
          <div class="cusCard">
            {post.data.thumbnail?(
          <img class="card__image"src={post.data.thumbnail} alt={post.data.title} />
            ):
            <img class="card__image"src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" alt="Alter Image" />
          
          }
          <div class="card__content">
            <time datetime="2021-03-30" class="card__date">{formatDate}</time>
            <span class="card__title">{post.data.title}</span>
          </div>
</div>

            
          </a>
        )})
      }
    </article>
  </main>
</Layout>
